{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true,
    "printWidth": 999999,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false,
    "vueIndentScriptAndStyle": true,
    "overrides": [
        {
            "files": [
                "**/tsconfig.json",
                "**/tsconfig.*.json"
            ],
            "options": {
                "parser": "json5",
                "quoteProps": "preserve",
                "singleQuote": false,
                "trailingComma": "all"
            }
        }
    ]
}